""" Leader key ---------------------
let mapleader=" "

""" Plugins ---------------------
Plug 'tpope/vim-surround'
Plug 'tpope/vim-commentary'
Plug 'vim-scripts/argtextobj.vim'
Plug 'machakann/vim-highlightedyank'
Plug 'dbakker/vim-paragraph-motion'
Plug 'michaeljsmith/vim-indent-object'
Plug 'preservim/nerdtree'
set quickscope " Install IdeaVim-Quickscope plugin

""" Common settings ---------------------
set showmode
set scrolloff=5
set incsearch
set ignorecase smartcase
set number
set relativenumber
set clipboard=unnamed
set clipboard+=ideaput

""" Mappings ---------------------
nmap <leader>h :noh<return><CR>
nmap <leader>lr <Action>(RenameElement)
nmap <leader>lf <Action>(ReformatCode)
nmap <leader>db <Action>(ToggleLineBreakpoint)
nmap <leader>dc <Action>(Debug)
nmap <leader>e :NERDTreeToggle<CR>
nmap <leader>h hlsearch
nmap <leader>c <Action>(CloseContent)
nmap <leader>/ gcc
vmap <leader>/ gc
nmap H <Action>(PreviousTab)
nmap L <Action>(NextTab)
nmap J <Action>(EditorJoinLines)
nmap K <Action>(QuickJavaDoc)
vmap > >gv
vmap < <gv
nmap <Enter> <Action>(EditorSelectWord)
nmap <BS> <Action>(EditorUnSelectWord)